.Allprojects{
    width: 100%;
    min-height: 100vh;
    background-color: #242338;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.searchbox{
    background-color: #fff;
    width: 380px;
    padding: 0;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}
.searchbox input{
    width: 75%;
    border: none;
    font-size: 18px;
    padding: 18px 20px;
    border-radius: 8px 0 0 8px;
}
.searchbox .searchbtn{
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    border: none;
    font-size: 20px;
    background: orangered;
    color: #fff;
    padding: 14px 30px;
    text-align: center;
    border-radius: 0 8px 8px 0;
}

.portfoiliocard{
    width: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 20px 0px;
    padding: 30px 0;
    border-radius: 65px;
    background: #ffffff;
    border:15px solid rgb(2 94 138 / 12%);
    box-shadow: inset 0px 0px 10px rgba(0,0,0,0.5);
}
.cardimg{
    width: 250px;
    height: 250px;
    border: 10px solid rgba(2, 94, 138, 0.12);
    box-shadow: 0px 0px 10px rgba(128, 127, 127, 0.7);
    border-radius: 40px;
}
.subcardconts{
 background-color: red;
}
.projectnames{
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 700;
    color: rgba(2, 95, 138, 0.259);
    text-transform: uppercase;
}
.probtn{
    color: #ffffff;
    background-color: rgba(2, 95, 138, 0.259);;
    border-radius: 8px;
    padding: 10px 20px;
    width: 30%;
    text-align: center;
    margin-top: 10px;
    font-size: 18px;
    font-weight: 600;
    text-decoration: none;
}
.probtn:hover{
  background: #242338;
}
.projectshowcont{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 1400px;
    margin-top: 100px;
}
@media screen and (max-width:1400px){
    .projectshowcont{
        width: 90%;
    }
}

@media screen and (max-width:490px){
    .resetsize1{
        font-size: 2.5rem;
    }
    .resetsize2{
        font-size: 4rem;
        top: 62px;
    }
}



@media screen and (max-width:380px){
    .resetsize1{
        font-size: 1.5rem;
    }
    .resetsize2{
        font-size: 2.5rem;
        top: 35px;
    }
}

@media screen and (max-width:240px){
    .resetsize1{
        font-size: 1rem;
        margin-bottom: 25px;
    }
    .resetsize2{
        font-size: 2rem;
        top: 25px;
    }
    .resetprojectsbtn{
        font-size: 12px;
        padding: 6px 15px;
    }
}

@media screen and (max-width:440px) {
    .searchbox{
        width: 280px;
    }
    .searchbox input{
        padding: 14px 20px;
    }
    .portfoiliocard{
        width: 86%;
    }
    .cardimg{
        width: 80%;
    }
    .projectshowcont{
        margin-top: 60px;
    }
}

@media screen and (max-width:370px) {
    .cardimg{
      width: 70%;
      height: 200px;    
    }
}

@media screen and (max-width:295px) {
    .cardimg{
      width: 70%;
      height: 170px;    
    }
}

@media screen and (max-width:305px) {
    .searchbox{
        width: 180px;
    }
}

