@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@500&family=Bigelow+Rules&family=Montserrat:wght@500&family=Open+Sans&family=Syne:wght@700&family=Ubuntu:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@500&family=Bigelow+Rules&family=Montserrat:wght@500&family=Open+Sans&family=Poppins:wght@600&family=Syne:wght@700&family=Ubuntu:wght@500&display=swap');
.TestCard{
    width: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.Testimg{
    width: 200px;
    padding: 50px;
    background-color: rgb(2 94 138 / 12%);
    border-radius: 50%;
    margin-bottom: 50px;
    cursor: pointer;
    transition: width 2s ease-in-out;
}
.Testimg:hover{
    width: 350px;
}
.testname{
    font-size: 20px;
    font-weight: 700;
    font-family: 'Barlow', sans-serif;
}
.testprof{
    font-family: 'Barlow', sans-serif;
}
.testimonial{
    margin-top:20px;
    font-family: 'Barlow', sans-serif;
    width: 400px;
    font-size: 16px;
    font-weight: 100;
}
@media screen and (max-width:480px){
    .Testimg:hover{
        width: 300px;
    } 
}

@media screen and (max-width:415px){
    .Testimg{
        width: 40%;
    }
    .Testimg:hover{
        width: 60%;
    } 
    .testimonial{
        font-size: 14px;
        width: 80%;
    }
}