.App{
    position: relative;
    background-color: #242338;
    width: 100%;
}
html{
    scroll-behavior: smooth;
}
.home{
    width: 100%;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}
  

  /* Handle */
::-webkit-scrollbar-thumb {
    background: gray;
    cursor: pointer;
}
  